<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meimeng">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 写sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 获取精确gps位置 -->
    <!-- 允许程序访问额外的定位提供者指令获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ljlX9oSuUeIxGcd8GTy81Xp9XvQDOmc2" />

        <activity android:name=".test.BMapTestActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WaitSoSActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.WaitSalvationActivity" />
        <activity
            android:name=".activity.CityPickerActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name=".activity.SystemMsgActivity" />
        <activity android:name=".common.rv.absRv.AbsBaseActivity" />
        <activity android:name=".activity.AddAEDActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".test.TestLocationActivity" />
        <activity android:name=".test.ForegroundActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SystemMsgDetailedActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.AddressSelectionActivity" />
        <activity android:name=".activity.ClientRecordActivity" />
        <activity android:name=".activity.ClientUserInfoActivity" />
        <activity android:name=".activity.RebackActivity" />
        <activity android:name=".activity.CertActivity" />
        <activity android:name=".activity.VolunteerActivity" />
        <activity android:name=".activity.MedicineActivity" />
        <activity android:name=".activity.CPROptionActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ShengjiActivity" />
        <activity android:name=".activity.ServerUserInfoActivity" />
        <activity android:name=".activity.ServerRecordActivity" />
        <activity android:name=".activity.AddGaojiActivity" />
        <!-- 图片框架地址：https://github.com/donkingliang/ImageSelector -->
        <!-- 图片选择Activity -->
        <!-- 去掉Activity的ActionBar。 -->
        <!-- 使用者可以根据自己的项目去配置，不一定要这样写，只要不Activity的ActionBar去掉就可以了。 -->
        <!-- 横竖屏切换处理。 -->
        <!-- 如果要支持横竖屏切换，一定要加上这句，否则在切换横竖屏的时候会发生异常。 -->
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 图片预览Activity -->
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 图片剪切Activity -->
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.SelectAddressActivity" />
        <activity android:name=".activity.AskVolunteerActivity" />
        <activity android:name=".activity.AskProxyActivity" />
        <activity android:name=".activity.UpdateNameActivity" />
        <activity android:name=".activity.FirstAidDetailsWebActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <activity android:name=".test.LocationOption" />
        <activity android:name=".test.LocationActivity" />
        <activity android:name=".test.NotifyActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.SearchPOIActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".activity.PathPlanActivity"></activity>
        <activity android:name=".activity.WNaviGuideActivity" />
    </application>

</manifest>